<!doctype html>
<!-- {{ pkg.name }} v{{ pkg.version }} | {{ pkg.license }} | {{ pkg.author | safe }} -->
<html lang="en"
  x-data="{ darkMode: localStorage.getItem('darkMode') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')}"
  x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
  :class="{'dark': darkMode === 'dark'}"
  >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ (title + ' | ' if title) | safe }}{{ site.title }} v{{ pkg.version }}</title>
  <meta name="description" content="{{ description or site.description }}">
  <meta name="generator" content="{{ eleventy.generator }}" built="{{ build.time | dateISO }}">
{% block SEO %}{% endblock %}
  <link rel="shortcut icon" href="/images/favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

  <link rel="stylesheet" href="/css/styles.min.css">
</head>
<body>

{{ content | safe }}

  {% if not isProduction %}{% include "blocks/dev.njk" %}{% endif %}
  <script src="/js/scripts.min.js"></script>
</body>
</html>
